.todo-text02{
    padding-top: 10px;
    text-align: center;
    font-size: small;
    opacity: 0.4;
}
.completed{
    text-decoration: line-through;
    opacity: 0.4;
    
}
.del{
    color: #ff000d;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}
.item{
    display: flex;

    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    background-color: #f8d059;
    border-radius: 20px;
    width: 80%;
    margin: 20px auto;
    /* margin这里传两个参时代表上下，左右 */
    /* 传四个参时代表上右下左（顺时针方向） */
    padding: 16px;
    box-shadow: #a3a543 0 8px 20px;
    
}
.todo-button{
    border: 1px solid #dfe1e5;
    outline: none;
    width: 15%;
    height:52px;
    border-radius:  0 20px 20px 0;
    text-align: center;
    background: linear-gradient(to right,#e0252f,#f8d059);  
    line-height: 52px;
    color: #ffff;
    font-style: italic;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
}
.todo-input{
    border: 1px solid #dfe1e5;
    outline: none;
    width: 60%;
    height:50px;
    border-radius: 20px 0 0 20px;
    padding-left: 15px;

} 
.todo-form{
    margin-top: 20px;
    margin-left: 30px;
    display: flex;

}
.IlluText{
    font-style:italic;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: hsla(91, 64%, 57%, 0.855);
}
.IlluBox{
    background-color: #10a0de;
    width: 98%;
    box-sizing: border-box;
    margin-left: 1%;
    height: 50px;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.Flandre01{
    border-radius: 10px;
    margin-top: 20px;
    max-width: 98%;
    margin-left: 1%;
    height: auto;
}
.title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    /* margin-top: ;  margin塌陷，不讲细节*/

}
.todo-app{
    /* 这个98%可以让画面自适应 */
    width: 98%; 
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 25px; 
    margin-left: 1%;
    padding-top: 30px;
    background-color: #ffff;
    padding-bottom: 30px;
}
body{           
    /*借芙兰的颜色搞了个全局渐变 */
    background: linear-gradient(to right,#e0252f,#f8d059);  
}

.Illu02Text{
    font-style:italic;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: hsla(166, 82%, 55%, 0.855);
}
.Illu02Box{
    background-color: #12485f;
    width: 98%;
    box-sizing: border-box;
    margin-left: 1%;
    height: 50px;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 20px;

}
.musicBox{
    background-color: #82d9f3;
    height:150px;
    width: 98%;
    box-sizing: border-box;
    margin-left: 1%;
    border-radius: 10px;
    padding-top: 17px;
}

.AudioBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #50be48;
    width: 96%;
    box-sizing: border-box;
    height: 50px;
    margin-left: 2%;
    border-radius: 10px;    
    
}
.AudioBox01{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #83cb53;
    width: 96%;
    box-sizing: border-box;
    height: 50px;
    margin-left: 2%;
    border-radius: 10px;    
    margin-top: 15px;
}
.ButtonBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:40%;
    margin-left: 1%;

}   
.playPauseBtn{
    background-color: #66e36c;
    width: 50%;
    box-sizing: border-box;
    margin-left: 1%;
    height: 35px;
    border-radius: 10px;
    
}
.stopBtn{
    background-color: #e3ab66;
    width: 50%;
    box-sizing: border-box;
    margin-left: 1%;
    height: 35px;
    border-radius: 10px;
}
.volumeRange{
    width: 50%;
    box-sizing: border-box;
    margin-right: 5%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.rangeBox01{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #50be48;
    width: 98%;
    box-sizing: border-box;
    margin-left: 1%;
    height: 25px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 3%;
}
.musicText{
    position:relative;
    width: 93%;
    margin:3%;    
    height: 35px;
    background-color: #53b1cb;
    border-radius: 5px;
    overflow: hidden;
}
.song-title {
    border-radius: 5px;
    background-color: #8dc1cf;
    position: absolute;
    white-space: nowrap;
    font-style:italic;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    color: hsla(200, 81%, 11%, 0.855);
    animation: scroll 14s linear infinite;
}
@keyframes scroll {
    0% {
        left: 100%  /* 初始位置：文本完全在盒子外的右侧 */
      }
      100% {
        left: -100%;  /* 结束位置：文本完全移动到盒子外的左侧 */
      }
}
.Illu03Box{
    background-color: #0d1117c3;
    text-align: center;
    justify-content: center;
    width: 98%;
    box-sizing: border-box;
    margin-left: 1%;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;

}
.Illu03Text{
    font-style:italic;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    height: 50px;
    color: #1f71ebd6;
}